<h1><u>Validation testing</u></h1>


<%= form_with model: @user, local: true do | form| %>

<% if @user.errors.any? %>

<h1 style="background-color: red" ><%= pluralize(@user.errors.count, "error found")%> can't save the details</h1>

<ul>
	<% @user.errors.full_messages.each do |message| %>
<li><h4 style="background-color: pink , margin='0px'  > <%= message %></h4></li>

	<% end %>

</ul>
<% end %>


<table>
<tr>
<td><%= form.label :Enter_name %> </td>
<td><%= form.text_field :name%></td>
</tr>
<tr>
<td><%= form.label :Enter_mobile %> </td>
<td><%= form.text_field :mobile %> </td>
</tr>
<tr>
<td><%= form.label :Age %> </td>
<td><%= form.text_field :age %> </td>
</tr>
<tr>
<td><%= form.label :Enter_email %> </td>
<td><%= form.text_field :email %> </td>
</tr>
<tr>
<td><%= form.label :Enter_password %> 
<td><%= form.password_field :password %> 
</tr>
<tr>
<td><%= form.label :confirm_password %> 
<td><%= form.password_field :password_confirmation %> 
</tr>
<tr>
<td colspan="2" align="center"><%= form.submit  %> 
</tr>
<tr>
<td colspan="2" align="center"><%= form.check_box :terms %> &nbsp;&nbsp;&nbsp;<%= form.label :Accept_terms_and_condition %> 
</tr>


</table>

<% end %>